.container
	.row
	
		.col-md-12
			- if @breadcrumbs
				%ul.breadcrumb
					- @breadcrumbs[0..-2].each do |txt, path|
						%li
							%a{:href => path}
								= txt
					%li.active
						= @breadcrumbs.last.first
							
			= render partial: "layouts/common/flash"
			
			.page-header
				%h1
					Voici les #{@last_hashtag.count} derniers Hashtags proposés
					%br
					%small
						N'hésitez pas à proposer les votres !

	.row
	
		.col-md-8
			%table.table.table-striped.table-hover
				%thead
					%tr{:class => "table-head"}
						%th
							Hashtag
						%th
							Nombre de séries associées
						%th
							Ajouté le
				%tbody
					- @last_hashtag.each do |lh|
						%tr{:class => "row-link", "data-url" => hashtag_path(lh.id)}
							%td
								\#
								= lh.title
							%td
								= lh.shows.count
							%td
								= lh.created_at
				
		.col-md-4
			%h3.no-margin-top
				Proposer un Hashtag
			= simple_form_for @new_hash, class: "form-inline" do |nh|
				.form-group
					.input-group
						= nh.input_field :title, id: "hashtags_add", class: "form-control", placeholder: "#cougars"
						%span.input-group-btn
							= nh.button :submit, value: "Proposer !", class: "btn btn-primary", autocomplete: "off"