.container
	.row
	
		.col-md-12
			- if @breadcrumbs
				%ul.breadcrumb
					- @breadcrumbs[0..-2].each do |txt, path|
						%li
							%a{:href => path}
								= txt
					%li.active
						= @breadcrumbs.last.first
							
			= render partial: "layouts/common/flash"
			
			.page-header
				%h1
					Tout sur #
					= @hashtag.title
					%br
					%small
						Séries associées et autres joyeusetés

	.row
	
		.col-md-8
			%table.table.table-striped.table-hover
				%thead
					%tr{:class => "table-head"}
						%th
							Série
						%th
							Nombre de saisons
						%th
							Nombre d'épisodes
				%tbody
					- @hashtag.shows.each do |show|
						%tr{:class => "row-link", "data-url" => show_path(show.id)}
							%td
								= show.title
							%td
								= show.seasons
							%td
								= show.episodes
				
		.col-md-4
			%h3.no-margin-top
				Infos complémentaires
			%p
				Vu :
				= @hashtag.n_view
				fois
			%p
				Ajouté le :
				= @hashtag.created_at