.container-fluid

	.row#home-grid
		#search
			#search-container
				%h1 Trouvez une série à propos de...
				= search_form_for @q, url: shows_path, class: "form-inline" do |h|
					.form-group
						.input-group
							= h.search_field :hashtags_title_cont, class: "form-control", placeholder: "#cougars"
							%span.input-group-btn
								= h.submit "Chercher !", class: "btn btn-primary", autocomplete: "off"
		#layer
		- @shows_img.each_slice(6) do |img_tab|
			.row
				- img_tab.each do |img_url|
					.col-md-2
						%img.img-responsive{:src => img_url.img, :alt => "grid_img"}

	.row
		.col-md-6
			.page-header
				%h2 Top #{@most_popular_hashtag.count} des Hashtags les plus populaires
				.list-group
					- @most_popular_hashtag.each do |mp|
						%a{:class => "list-group-item",:href => hashtag_path(mp.id)}
							%span.badge 
								Vu #{mp.n_view} fois
							= mp.title
