body {
  margin-top: 60px;
}

#home-grid {
	position: relative;
	#search {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		#search-container {
	    	left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			h1 {
				color: #ffffff;
			}
			.form-group, .input-group {
				width: 100%;
			}
			.input-group-btn {
				width: 0;
			}
	  	}
	}
	#layer {
		width: 100%;
		height: 100%;
		background-color: rgba(24, 188, 158, 0.7);
		position: absolute;
		z-index: 1;
	}
	.col-md-2 {
		padding: 0;
		img {
			height: 100px;
			width: 100%;
		}
	}
}

.navbar {
  margin-bottom: 0px;
}

.list-group-item {
  .badge {
    float: right;
  }
  :hover {
    background-color: #ecf0f1;
    text-decoration: none;
  }
}

.breadcrumb {
	margin-top: 21px;
}

.row-link {
	cursor: pointer;
}

.centered-pagination {
	text-align: center;
}

.table-head {
	th {
		color: #ffffff;
		background-color: #2C3E50;
	}
}

.no-margin-top {
	margin-top: 0;
}
