.container
	.row
	
		.col-md-12
			- if @breadcrumbs
				%ul.breadcrumb
					- @breadcrumbs[0..-2].each do |txt, path|
						%li
							%a{:href => path}
								= txt
					%li.active
						= @breadcrumbs.last.first
							
			.page-header
				- if !@search_query
					%h1
						\#Series.com recense actuellement #{@nb_shows} séries.
						%br
						%small
							Faites votre choix ci-dessous !
				- else
					%h1
						Votre recherche à propos du Hashtag ##{@search_query[:hashtags_title_cont]}
						%br
						%small
							Toutes séries associées à cet Hashtag
			
			%table.table.table-striped.table-hover
				%thead
					%tr{:class => "table-head"}
						%th
							Série
						%th
							Nombre de saisons
						%th
							Nombre d'épisodes
				%tbody
					- @show.each do |s|
						%tr{:class => "row-link", "data-url" => show_path(s.id)}
							%td
								- if !s.title.nil?
									= s.title
								- else
									NC
							%td
								- if !s.seasons.nil?
									= s.seasons
								- else
									NC
							%td
								- if !s.episodes.nil?
									= s.episodes
								- else
									NC
	
			.centered-pagination
				= paginate @show