.container

	.row
		.col-md-12
		
			- if @breadcrumbs
				%ul.breadcrumb
					- @breadcrumbs[0..-2].each do |txt, path|
						%li
							%a{:href => path}
								= txt
					%li.active
						= @breadcrumbs.last.first

			= render partial: "layouts/common/flash"
		
	.row
		
		.col-md-8
			%img.img-responsive{:src => @this_show.img, :alt => @this_show.title}
			%h2
				= @this_show.title
			%p
				= @this_show.description

		.col-md-4
			%h3
				Infos sur la série
			%p
				Nombre de saisons :
				= @this_show.seasons
			%p
				Nombre d'épisodes :
				= @this_show.episodes
			%h3
				Hashtags associés
			.list-group
				- @this_show.hashtags.each do |s_h|
					%a{:class => "list-group-item", :href => hashtag_path(s_h.id)}
						= s_h.title

			%h3
				Associer un Hashtag
			= simple_form_for @new_hash, class: "form-inline" do |nh|
				.form-group
					.input-group
						= nh.input_field :title, id: "hashtags_add", class: "form-control", placeholder: "#cougars"
						%span.input-group-btn
							= nh.button :submit, value: "Associer !", class: "btn btn-primary", autocomplete: "off"
					= nh.input :shows, :as => :hidden, input_html: {value: @this_show.id}
