Stats

%canvas#myChart{:width => "400", :height => "400"}
= @test
-# - @test.each do |d|
	-# = d.created_at

-# :javascript
-# 	$(document).ready(function(){
-# 	//var json = #{@test};
-# 	alert(#{@test});
-# 	alert(json.created_at);
-# 	});


-# - @all_date.each do |sh|
-# 	= sh.created_at.strftime('%F')


