.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      %a.navbar-brand{"href"=> root_path}
        = "#Series"
  .navbar-collapse.collapse.navbar-inverse-collapse
    %ul.nav.navbar-nav
      %li{:class => ('active' if request.path == root_path)}
        %a{:href => root_path} #Series
      %li{:class => ('active' if request.path == hashtags_path)}
        %a{:href => hashtags_path} Tous les Hashtags
      %li{:class => ('active' if request.path == shows_path) }
        %a{:href => shows_path} Toutes les séries